<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Eletron Wallboard</title>
    <% if (htmlWebpackPlugin.options.appModules) { %>
      <!-- Add `app/node_modules` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.appModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <link rel="stylesheet" href="../node_modules/material-design-lite/material.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- TODO move in less file -->
<style>
.button-add-column{
  top: 45%;
  position: absolute;
  float: right;
  right: 0px;
}

</style>
  </head>
  <body>
    <div id="mainView">
      <div style="with:100%;height:100%;display:flex;">
         <column-container
                 v-for="column in columns"
                v-bind:is-in-edit-mode="isInEditMode"
                    v-bind:key="column.id">
         </column-container>
                 </div>

        <button v-if="isInEditMode" v-on:click="addColumn" class="mdl-snackbar__action mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect button-add-column">
          <i class="material-icons">add row</i>
        </button>
    </div>
  </body>
</html>
