<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Eletron Wallboard</title>
    <% if (htmlWebpackPlugin.options.appModules) { %>
      <!-- Add `app/node_modules` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.appModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- TODO move in less file -->
<style>
.button-add-column{
  top: 50%;
  position: fixed;
  right: 0;
  transform: translate(-50%, -50%);
}
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 500px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
  </head>
  <body>

    <div id="mainView"  role="main" style="height:100%;">


      <menu-toolbar v-if="isInEditMode"></menu-toolbar>
      <md-button class="md-fab md-fab-bottom-right md-primary" v-if="isInEditMode" @click.native="addBlock">
        <md-icon>add</md-icon>
      </md-button>
        <column-container v-bind:blocks="blocks" v-bind:is-in-edit-mode="isInEditMode">
          </column-container>



      <md-snackbar md-position='bottom' ref="snackbar" md-duration="50000">
         <span >{{toastedMessage}}</span>
         <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.snackbar.close()">Retry</md-button>
       </md-snackbar>

       <edit-modal v-if="showModal" @close="showModal = false" v-bind:view-data="viewData"> </edit-modal>
    </div>

  </body>
</html>
