<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Eletron Wallboard</title>
    <link rel="stylesheet" href="../node_modules/material-design-lite/material.css">
    <script src="../node_modules/material-design-lite/material.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="main.less" />

  </head>
  <body>
<div id="mainView">

  <todo-item v-for="column in columns" v-bind:src="column.src"></todo-item>
<button v-if="isInEditMode"
  v-on:click="addColumn"
 class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect ">
  <i class="material-icons">add columns</i>
</button>

</div>
    <script src="./mainWindow.js"></script>
  </body>
</html>
